
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//Google fonts
@import url('https://fonts.googleapis.com/css?family=BioRhyme:300|Catamaran:500|Neuton:200');

// @media (max-width: 768px){
//   .nav{
//     li {
//       display: inline-block;
//     }
//   }
// }

// #2B3A42
// #3F5765
// #BDD4DE
// #FF530D

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 48px;
}

img {
  max-width: 100%;
}

.navbarStyle {
  background-color: #2B3A42;
}

.user-nav-avatar {
  height: 24px;
  width: 24px;
}

h1, h2, h3, h4, h5, h6, input {
  font-family: 'Catamaran', sans-serif;
}

p, span, a {
  font-family: 'Neuton', serif;
}

//Nav Style
.colorTest {
  color: #FF530D;
}

//Landing Style
.jumboHeight {
  color: #FF530D;
  height: 900px;
  background-image: url('https://static.pexels.com/photos/5869/buildings-books-architect-shelf.jpg');
  background-size: cover;
  position: relative;
}

.jumboHeight {
  p {
    font-size: 36px;
    font-weight: 200;
  }
}

.articleContent {

  background-color: #BDD4DE;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .articleParagraphs {
    font-size: 18px;
  }
}

//User Listing Style
.userStyleBackground {
  background-color: #3F5765;
}
.userListingStyle{
  background-color: #BDD4DE;
  border: 1px solid #2B3A42;
  border-radius: 5px;
  margin: 5px;
} h4 {
  color: #FF530D;
} p {
  color: #fff;
}

//Top User Style
.topUserHeading {
  color: #FF530D;
}

.topUserFont {
  font-size: 24px;
}

.topUserOpacity {
  background-color: transparent;
}

.topUserBackground {
  height: 950px;
  background-image: url('http://grabow.herokuapp.com/files/dalaran/3383df1c417a64f960783b503e25205d_BASEBALL%20PHOTO.jpg');
  background-size: cover;
  position: relative;
}
// .hover-style {
//   border-bottom-style: 1px solid #FF530D;
// }
